/* Configurações GErais */
* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    grid-template-rows: 40vh 1fr 70vh; 
}

header {
    display: grid;
    grid-template-rows: 1fr 40px;
}

main {
    height: 500vh;
    margin-top: -60px;
    display: grid;
    grid-template-rows: repeat(5,1fr);
}

footer {
    background-color: rgb(255,92,92);
    display: flex;
    flex-direction: column;
}

/* 
configurações do header */

.cabecalho {
    background-color: white;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-right: 25vw;
    padding-left: 25vw;
    align-content: center;
    margin-top: -80px;
    font-family: 'Roboto';
    font-size: 16px;
    padding-top: 8px;
}

.links-nav {
    text-decoration: none;
    color: white;
}

.cabecalho {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.logo-cabecalho {
    background-color: white;
    margin-top: -60px;
    margin-left: 30px;
    height: 120%;
    width: 100%;
}

.busca-e-login {
    display: grid;
    grid-template-columns: 1fr 150px;

}

.caixa-de-busca {
    height: 40%;
    width: 80%;
    background-color: rgb(255,92,92);
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 8px;
}

#barra-busca {
    height: 59%;
    width: 80%;
    margin-left: 20px;
    margin-top: 22px;
    border-radius: 8px;
    font-family: "Roboto";
    border-color: rgb(255,92,92);
    padding-left: 20px;
}

.botao-login {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    margin-top: 65px;
    background-color:rgb(255,92,92);
    border-color: rgb(255,92,92);
    color: white;
    margin-right: 100px;
    font-family: "Roboto";
    padding-right: 12px;
    font-size: 16px;
}

/* Configurações footer */

.texto-footer {
    font-family: "Roboto";
    font-size: 28px;
    padding-left: 90px;
    padding-right: 490px;
    margin-bottom: 40px;
    color: white;
    margin-top: 40px;
}

.titulo-redes-footer {
    font-family: "Roboto";
    font-size: 28px;
    padding-left: 90px;
    margin-bottom: 40px;
    color: white;
}


.logos-redes{
    width: 40px;
    height: 40px;
}

.endereco-footer {
    font-family: "Roboto light";
    font-size: 18px;
    padding-left: 90px;
    color: white;
    margin-bottom: 40px;
}

.imagens-redes-footer {
    margin-left: 90px;
    margin-bottom: 40px;
}

/* configurações formulario */

.pagina-formulario {
    display: grid;
    grid-template-columns: 1fr 600px;
}
.formulario-contato {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-left: 4vw;
}

.botao-enviar {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    margin-top: 65px;
    background-color:black;
    border-color: black;
    color: white;
    margin-right: 300px;
    font-family: "Roboto light";
    padding-right: 12px;
    font-size: 16px;
    margin-top: 360px;
}

#input-nome {
    height: 20px;
    width: 80%;
    margin-left: 20px;
    margin-top: 22px;
    border-radius: 8px;
    font-family: "Roboto light";
    border-color: rgb(255,92,92);
    padding-left: 20px;
    border-width: 2px;
}

#input-email {
    height: 20px;
    width: 80%;
    margin-left: 20px;
    margin-top: 22px;
    border-radius: 8px;
    font-family: "Roboto light";
    border-color: rgb(255,92,92);
    padding-left: 20px;
    border-width: 2px;
}

#input-mensagem {
    height: 200px;
    width: 80%;
    margin-left: 20px;
    margin-top: 22px;
    border-radius: 8px;
    font-family: "Roboto light";
    border-color: rgb(255,92,92);
    padding-left: 20px;
    border-width: 2px;
}

.titulo-formulario {
    color: rgb(255,92,92);
    font-size: 36px;
    font-family: "Roboto light";
    margin-left: 20px;
}

/* Configurações inicio */

.pagina-inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
}

.container {
    display:grid;
    grid-template-rows: 15vh 1fr;
    margin-top: 10vh;
    justify-content: start  ;
    /* align-items: center; */
  
}

.h2text {
    color: #ff5c5c;
    margin-top: 10px;
    font-family: 'Roboto';
    margin-left: 4vw;
}
.line {
    color:rgb(250, 251, 252);
    font-family:'Roboto';
    font-size: 0.6cm;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: block;
    /* position:fixed; */
    white-space: nowrap;
    text-align: justify;
    line-height:60px;
    margin-left: 4vw;
}


.typeanimacao {
    animation: blinkcursor 500ms steps(40) infinite normal, typing 4s steps(35) 1s normal both;
}
@keyframes typing {
from {
    width: 0;
}
to {
    width: 20wh;
}

}
@keyframes blinkcursor {
from {
    border-rigth-color: rgba(255, 255, 255, 0.75);
} 
to {
border-right-color: transparent;
}

}

.imgcarro1 {
    width: 65%;
    height: 55%;
    margin-left: 5%;
    margin-top: 7vh;
    /* display: block; */
}  

/* ESTILOS DA PÁGINA COMO ALUGAR */

.comoAlugar {
    background-color: white;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    height: 30vh;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10vh;
}

.cardEtapas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30vh;
}

img {
    width: 80px;
}

.fonteComoAlugar {
    font-family: "Roboto light";
    font-size: 2.5rem;
}

.fonteDescritivaComoAlugar {
    font-family: "Roboto light";
    font-size: 1.5rem;
    padding-top: 4vh;
}

.fonteEtapas{
    font-family: "Roboto Light";
    font-size: 1.5rem;
    padding-top: 4vh;
}

/* ESTILOS DA PÁGINA PRODUTOS */


.produtosLuxo {
    background-color:white;
    height: 80vh;
    display: flex;

}

.produtosPopular {
    background-color: black;
    height: 80vh;
    display: flex;

}
.fonteProduto {
    display: flex;
    font-family:"Roboto";
    font-size: 3rem;
    color:black;
    margin-left: 5vw;
    width: 30vw;
}
.imgCarroLuxo {
    width: 40vw;
    margin-top: 20vh;
    margin-left: 5vw;
    margin-top: 10vh;
}

.imgCarroPopular {
    width: 40vw;
    margin-top: 20vh;
    margin-right: 5vw;
    margin-top: 10vh;

}

.carrosLuxo{
    background-color: white;
    
}

.carrosPopular{
    background-color: black;
}

.fonteLuxo{
    font-family:"Roboto";
    font-size: 3rem;
    color:black;
    margin-left: 30vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.fonteCarroToyota{
    font-family:"Roboto";
    font-size: 2rem;
    color:black;
    margin-left: 30vw;
    margin-bottom: 1vh;
}
.fonteCarroToyota:hover {
    color:#FF5C5C;
}

.fonteCarroHonda{
    font-family:"Roboto";
    font-size: 2rem;
    color:black;
    margin-left: 30vw;
    margin-bottom: 1vh;
}
.fonteCarroHonda:hover {
    color:#FF5C5C;
}
.fonteCarroChevrolet{
    font-family:"Roboto";
    font-size: 2rem;
    color:black;
    margin-left: 30vw;
    margin-bottom: 1vh;
}
.fonteCarroChevrolet:hover {
    color:#FF5C5C;
}

.fonteCarroNissan{
    font-family:"Roboto";
    font-size: 2rem;
    color:black;
    margin-left: 30vw;
    margin-bottom: 1vh;

}
.fonteCarroNissan:hover {
    color:#FF5C5C;
}

.fontePopular{
    font-family:"Roboto";
    font-size: 3rem;
    color:white;
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.fonteCarroFiat {
    font-family:"Roboto";
    font-size: 2rem;
    color:white;
    margin-left: 5vw;
    margin-bottom: 1vh;
}
.fonteCarroFiat:hover {
    color:#FF5C5C;
}

.fonteCarroPeugeot {
    font-family:"Roboto";
    font-size: 2rem;
    color:white;
    margin-left: 5vw;
    margin-bottom: 1vh;

}
.fonteCarroPeugeot:hover {
    color:#FF5C5C;
}
.fonteCarroArgo {
    font-family:"Roboto";
    font-size: 2rem;
    color:white;
    margin-left: 5vw;
    margin-bottom: 1vh;
}
.fonteCarroArgo:hover {
    color:#FF5C5C;
}

.fonteCarroSandero{
    font-family:"Roboto";
    font-size: 2rem;
    color:white;
    margin-left: 5vw;
    margin-bottom: 1vh;
    width: 50vw;
    margin-left:5vw;
}
.fonteCarroSandero:hover {
    color:#FF5C5C;
}